#view {
  border: solid 2px black;
  position: absolute;
  margin: auto;
  top: 40px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgb(196, 179, 179);
}

#title {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: 'Work Sans', sans-serif;
}

#links {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 30px;
  top: 40%;

  a:visited {
    text-decoration: none;
  }

  i {
    font-size: 50px;
  }
}

#github {
  color: black;
  transition: color 3s;
}

#github:hover {
  color: purple;
}

#linkedin {
  color: black;
  transition: color 3s;
}

#linkedin:hover {
  color: blue;
}
